.beers-row {
  width: 75vw;
  height: 40vh;
}

.browse-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.food-pairing {
  display: flex;
  align-items: center;
  margin: 1rem;
  width: 53%;
}

.pairing-text {
  width: 45%;
  font-weight: bold;
  font-size: 1.3rem;
  color: #000000;
}

.pagination {
  margin: 1rem 0 !important;
}
