.beers-row {
  width: 75vw;
  height: 40vh;
  /* min-height: 40vh;
  max-height: 80vh; */
}

.browse-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 94vh;
}

.food-pairing {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.search-pairing {
  width: 200px;
}

.pairing-text {
  width: 45%;
}

.pagination {
  margin: 1rem 0 !important;
}
