.beer-img {
  height: 7.2rem;
  margin: 1rem 0;
}

.card-design {
  border: 1px solid #000000 !important;
  height: 100%;
}

.fill-star {
  color: #faaf14 !important;
}

.star {
  margin: 3px;
  font-size: 1.2rem;
}

.card-design .ant-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0px;
}

.ant-card-body .ant-row {
  justify-content: space-between;
  width: 87%;
  margin-top: 5px;
}

.card-design .ant-card-meta {
  margin: 2px;
  padding: 0 4px;
  width: 100%;
}
